.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes de largeur égale */
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .image-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
  
  .image-card img {
    width: 100%;
    height: 200px; /* Ajuster la hauteur de l'image */
    object-fit: cover; /* Optionnel pour le redimensionnement de l'image */
  }
  
  .image-card button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .like-button {
    background-color: #ddd; /* Orange clair */
  }
  
  .view-button {
    background-color: #ddd;
  }
  

  .navbar {
    display: flex; /* Make the navigation bar horizontal */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Align items vertically */
    background-color: #f5f5f5; /* Light gray background */
    padding: 10px 20px;
  }
  
  .navbar ul {
    list-style: none; /* Remove default bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .navbar li {
    display: inline-block; /* Display list items inline */
    margin-right: 20px; /* Add spacing between items */
  }
  
  .navbar a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Dark gray text color */
    font-weight: bold; /* Bold font weight */
  }
  
  .navbar a:hover {
    color: #000; /* Black text color on hover */
  }
  